table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #717171
  }

  tr {
     height: auto; 
  }
  
  td, th {
    border: 1px solid white;
    text-align: center;
    padding: 4px;
  }

  th {
      background-color: #AED0D8;
      font-weight: 500;
  }
  
  tr:nth-child(even) {
    background-color: #e9e9e9;
  }

  .vert-c {
    vertical-align: middle;
  }