.chart {
    width: 10rem !important;
    height: auto !important;
}

.relative {
    position: relative;
  }
  
  .absolute-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text-center{
    text-align: center;
  }
  
  p {
    font-size: 2rem;
    color: rgb(31,120,180);
  }

.title {
    color: rgb(131,131,131);
    font-size: large;
}