<app-header></app-header>
<div class="flex full-height">
    <app-main-nav></app-main-nav>
    <div class="flex flex-col w-full m-3 pb-24">
        <div class="flex w-full h-24 justify-between">
            <div class="w-1/2">
                <div class="flex shadow-md rounded-sm mt-1 ml-4 bg-white items-center pr-1">
                    <input type="text" class="w-full h-9 outline-none ml-2">
                    <span class="material-icons-outlined text-gray-600">
                        search
                    </span>                    
                </div>

            </div>
            <div>Welcome Alex</div>
        </div>
        <div>
            <router-outlet></router-outlet>    
        </div>        
    </div>
</div>

