@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
    background-color: #E7E7E7;
    // min-width: 1280px;
    overflow-x: hidden;
}

.text-grey {
    color: #717171
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

 .bg-blue-dark {
  background-color: #000C29;
 }

 .text-blue-dark {
  color: #50657E;
}

 .bg-blue-med {
  background-color: #24384E;
 }

//   :root {
//     --modal-height: 15rem;
//     --modal-width: 30rem;    
// }

.base {
  color: #000000;
}
.success {
  color: #00DD16;
}
.warning {
  color: #EE8F00;
}
.emergency {
  color: #FF000B;
}
