<div class="menu-container">
    <img [routerLink]="['/apps/inventory']" src="../../../assets/menu/Icon_Main_Menu_Inventory.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_SO.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_wo.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_Asset.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_Purchase.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_recv.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_loc.png" alt="">
    <img src="../../../assets/menu/Icon_Main_Menu_Trans.png" alt="">
</div>