<div class="main-nav shadow-md px-7 pt-8 pb-24">
    <div class="flex justify-center mb-14">
        <img src="../../../assets/logo.png">
    </div>
    <div class="pb-8 flex place-content-between w-full">
        <div class="section-title cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Dashboard</div>
        <span class="material-icons">
            dashboard
        </span>
    </div>
    <div>
        <div class="flex place-content-between w-full">
            <div class="section-title cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Purchase</div>
            <span class="material-icons-outlined"
                (click)="purchase = purchase ? false : true">
                expand_circle_down
            </span>            
        </div>
        <div *ngIf="purchase">
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Create a New PO's</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/purchase/po-details' ]">PO Details</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Report</div>            
        </div>
    </div>
    <div>
        <div class="flex place-content-between w-full">
            <div class="section-title cursor-pointer">Suppliers</div>
            <span class="material-icons-outlined"
                (click)="suppliers = suppliers ? false : true">
                expand_circle_down
            </span>            
        </div>
        <div *ngIf="suppliers">
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Add New Supplier</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Update Supplier</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Upload File Pl</div>            
        </div>
    </div>
    <div>
        <div class="flex place-content-between w-full">
            <div class="section-title cursor-pointer">Accounts Payable</div>
            <span class="material-icons-outlined"
                (click)="accountsPayable = accountsPayable ? false : true">
                expand_circle_down
            </span>            
        </div>
        <div *ngIf="accountsPayable">
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Add New Fees</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Update Fees</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Add Account A/P</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Update Account A/P</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Add New Payment</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Update Payment</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Report</div>            
        </div>
    </div>
    <div>
        <div class="flex place-content-between w-full">
            <div class="section-title cursor-pointer">Master Cost</div>
            <span class="material-icons-outlined"
                (click)="masterCost = masterCost ? false : true">
                expand_circle_down
            </span>            
        </div>
        <div *ngIf="masterCost">
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">New Master Cost</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">HS Code Fees</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Email to Sales Rep</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Update Prices</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Labels ShowRoom</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">MC completed</div>            
        </div>
    </div>
    <div>
        <div class="flex place-content-between w-full">
            <div class="section-title cursor-pointer">Receiving</div>
            <span class="material-icons-outlined"
                (click)="receiving = receiving ? false : true">
                expand_circle_down
            </span>            
        </div>
        <div *ngIf="receiving">
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Receiving Container</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Unload Container</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Return Container</div>
            <div class="w-fit ml-4 py-2px cursor-pointer" [routerLink]="[ '/staff/dashboard' ]">Print Report</div>            
        </div>
    </div>
</div>