.main-nav {
    background-color: rgb(250,250,250);
    height: 100%;
    width: 16rem;
}

.section-title {
    color: #717171;
    font-size: 20px;
    @apply font-semibold;
}

.py-2px {
    padding-top: 2px;
    padding-bottom: 2px;
}

.w-fit {
    width: fit-content;
}

.material-icons, .material-icons-outlined {
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-self: center;
    user-select: none;
    outline: none;
}