<div class="w-screen h-14 bg-blue-dark flex items-center px-6">
    <img src="../../assets/logoAntSystems_vertical2 1.png" alt="">
</div>
<div class="w-screen h-20 bg-blue-med">
    <div class="module-nav px-64">
        <!-- Menu -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="menu" routerLinkActive="nav-icon-active" class="material-symbols-outlined nav-icon">
                menu
            </span>
            <span routerLink="menu" routerLinkActive="nav-text-active" class="nav-text">Menu</span>
        </div>
        <!-- Pruchase -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="purchase" routerLinkActive="nav-icon-active" class="material-symbols-outlined nav-icon">
                package_2
            </span>
            <span routerLink="purchase" routerLinkActive="nav-text-active" class="nav-text">Purchase</span>
        </div>
        <!-- Orders -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="orders" routerLinkActive="nav-icon-active" class="material-symbols-outlined nav-icon">
                orders
            </span>
            <span routerLink="orders" routerLinkActive="nav-text-active" class="nav-text">Orders</span>
        </div>
        <!-- Warehouse -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="inventory" routerLinkActive="nav-icon-active" class="material-symbols-outlined nav-icon">
                warehouse
            </span>
            <span routerLink="inventory" routerLinkActive="nav-text-active" class="nav-text">Warehouse</span>
        </div>
        <!-- Receiving -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="receiving" routerLinkActive="nav-text-active" class="material-symbols-outlined nav-icon">
                barcode_scanner
            </span>
            <span routerLink="receiving" routerLinkActive="nav-text-active" class="nav-text">Receiving</span>
        </div>
        <!-- P&P Order -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="pporders" routerLinkActive="nav-text-active" class="material-symbols-outlined nav-icon">
                export_notes
            </span>
            <span routerLink="pporder" routerLinkActive="nav-text-active" class="nav-text">P&P Order</span>
        </div>
        <!-- Shipping -->
        <div class="flex items-center w-32 justify-center menu-item">
            <span routerLink="shipping" routerLinkActive="nav-text-active" class="material-symbols-outlined nav-icon">
                local_shipping
            </span>
            <span routerLink="shipping" routerLinkActive="nav-text-active" class="nav-text">Shipping</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>