<input type="text" [id]="null"
    class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 disabled:opacity-70"
    placeholder="SKU"
    #inputVal
    [formControl]="control"
    (keyup)="onInputChange($event)"
    (click)="show.next(true)"
    autocomplete="off"
    (blur)="hideOptions()">
<div *ngIf="(show | async) && options"
    class="absolute z-50 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg w-full focus-visible:outline-none flex flex-col text-center">
    <span 
        *ngFor="let action of actionBtnConfig" 
        class="cursor-pointer py-1 text-blue-500 text-sm select-none hover:bg-blue-500 w-full hover:text-white"
        (click)="actionBtnClicked(action.name)">
        {{ action.name }} +
    </span>
    <ng-container *ngFor="let option of options | textFilter:control.value:['name']; let i=index">
        <span *ngIf="i < 5"
            class="cursor-pointer py-1 text-sm hover:bg-blue-500 w-full hover:text-white select-none"
            (click)="selectOption(option.name)">
            {{ option.name }}
        </span>        
    </ng-container>
</div>