<div class="product-container">
    <div class="header flex justify-center items-center text-white font-semibold">Carriers</div>
    <div class="content">
        <div class="flex justify-end mt-2">
            <!-- <button [routerLink]="['orders']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Orders</button> -->
            <button (click)="addCarrier()" class="btn-primary flex justify-center items-center py-1">
                Add Carrier
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>
        <router-outlet></router-outlet>
        <div class="mt-4">
            <gui-grid 
                [source]="source" 
                [columns]="columns" 
                [sorting]="sorting" 
                [verticalGrid]="false"
                [horizontalGrid]="true">
                <gui-grid-column [cellEditing]="false" [sorting]="false" width="60" >
                    <ng-template let-value="value" let-item="item">
            
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="edit()">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete()">
                                <mat-icon>delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
            
                    </ng-template>
                </gui-grid-column>
            </gui-grid>
        </div>
    </div>
</div>