<div class="product-container">
    <div class="header flex justify-center items-center text-white font-semibold">Carriers</div>
    <div class="content">
        <div class="flex justify-end mt-2">
            <!-- <button [routerLink]="['orders']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Orders</button> -->
            <button (click)="addCarrier()" class="btn-primary flex justify-center items-center py-1">
                Add Carrier
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>
        <router-outlet></router-outlet>
        <div class="mt-4">
            <gui-grid 
                [source]="source" 
                [sorting]="sorting" 
                [verticalGrid]="false"
                [horizontalGrid]="true">
                <gui-grid-column header="Carrier ID" [field]="'carrierId'" type="string" view="text">
                </gui-grid-column>
                <gui-grid-column header="Company Name" [field]="'companyName'" type="string" view="text">
                </gui-grid-column>
                <gui-grid-column header="Address" [field]="'address'" type="string" view="text">
                    <ng-template let-value="value" let-index="index" let-item="item">
                        <span>{{value.street}}</span>
                    </ng-template>
                </gui-grid-column>
                <gui-grid-column header="City" [field]="'address'" type="string" view="text">
                    <ng-template let-value="value" let-index="index" let-item="item">
                        <span>{{value.city}}</span>
                    </ng-template>
                </gui-grid-column>
                <gui-grid-column header="State" [field]="'address'" type="string" view="text">
                    <ng-template let-value="value" let-index="index" let-item="item">
                        <span>{{value.state}}</span>
                    </ng-template>
                </gui-grid-column>
                <gui-grid-column header="Zip Code" [field]="'address'" type="string" view="text">
                    <ng-template let-value="value" let-index="index" let-item="item">
                        <span>{{value.zip}}</span>
                    </ng-template>
                </gui-grid-column>
                <gui-grid-column header="Contact" [field]="'contactName'" type="string" view="text">
                </gui-grid-column>
                <gui-grid-column header="Phone" [field]="'phone'" type="string" view="text">
                </gui-grid-column>
                <gui-grid-column header="Email" [field]="'email'" type="string" view="text">
                </gui-grid-column>
                <gui-grid-column header="Type Of Service" [field]="'serviceType'" type="string" view="text">
                </gui-grid-column>
                <gui-grid-column [cellEditing]="false" [sorting]="false" width="10" >
                    <ng-template let-value="value" let-item="item">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="text-base">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="edit(item)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(item.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </ng-template>
                </gui-grid-column>
            </gui-grid>
        </div>
    </div>
</div>