<div class="product-container">
    <div class="header flex justify-center items-center text-white font-semibold">Item List</div>
    <div class="content">
        <gui-grid 
            [source]="source" 
            [columns]="columns" 
            [sorting]="sorting"
            [verticalGrid]="false"
            [horizontalGrid]="true"
            (itemsSelected)="navTo($event)">
        </gui-grid>
    </div>
</div>

<button routerLink="/apps/inventory/products/product/EP90BP-4">test</button>