<div class="flex justify-center h-10 my-2">
    <button [routerLink]="['products']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Products</button>
    <button [routerLink]="['products-list']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Products List</button>
    <button [routerLink]="['fullfilment']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Fullfilment</button>
    <button [routerLink]="['asset-tracking']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Asset Tracking</button>
    <button [routerLink]="['transfer']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Transfer</button>
    <button [routerLink]="['inventory-adjustment']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Inventory Adjustement</button>
    <button [routerLink]="['rma']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">RMA</button>
    <button [routerLink]="['reports']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Reports</button>
    <button [routerLink]="['settings']" class="px-2 mx-2 nav-item" routerLinkActive="nav-item-active">Settings</button>
</div>
<router-outlet></router-outlet>