.page-title {
    color: #717171;
    font-size: 20px;
    @apply font-semibold;
}

.w-49p {
    width: 49%;
}

.bg-green {
    background-color: #C6FEB1;
    border: 1.7x solid rgb(99,139,48);
}

.bg-blue {
    background-color: #ABCFFF;
    border: 1.7px solid rgb(83,147,225);
}

.bg-red {
    background-color: #FF9A9A;
    border: 1.7px solid rgb(248,101,101);
}

.bg-yellow {
    background-color: #FFD572;
    border: 1.7px solid rgb(154,136,77);
}

.title {
    color: rgb(131,131,131);
    font-size: large;
}